项目文件/SAP_Docking_MES_App/SAP_Docking_MES_App/Service References/OMS_ServiceReference/MESService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MESService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.216:9099/OMSForMESService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.216:9099/OMSForMESService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMESService_SynchronizeOrderTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeOrderTimes" />
  </wsdl:message>
  <wsdl:message name="IMESService_SynchronizeOrderTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeOrderTimesResponse" />
  </wsdl:message>
  <wsdl:message name="IMESService_Get2020SalesPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:Get2020SalesPrice" />
  </wsdl:message>
  <wsdl:message name="IMESService_Get2020SalesPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get2020SalesPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="IMESService">
    <wsdl:operation name="SynchronizeOrderTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IMESService/SynchronizeOrderTimes" message="tns:IMESService_SynchronizeOrderTimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMESService/SynchronizeOrderTimesResponse" message="tns:IMESService_SynchronizeOrderTimes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get2020SalesPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IMESService/Get2020SalesPrice" message="tns:IMESService_Get2020SalesPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMESService/Get2020SalesPriceResponse" message="tns:IMESService_Get2020SalesPrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMESService" type="tns:IMESService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SynchronizeOrderTimes">
      <soap:operation soapAction="http://tempuri.org/IMESService/SynchronizeOrderTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get2020SalesPrice">
      <soap:operation soapAction="http://tempuri.org/IMESService/Get2020SalesPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MESService">
    <wsdl:port name="BasicHttpBinding_IMESService" binding="tns:BasicHttpBinding_IMESService">
      <soap:address location="http://192.168.0.216:9099/OMSForMESService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>