项目文件/SAP_Docking_MES_App/SAP_Docking_MES_App/Service References/OMS_ServiceReference/OMSForMESService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SynchronizeOrderTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeOrderTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SynchronizeOrderTimesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get2020SalesPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get2020SalesPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get2020SalesPriceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>